/* ========== HTML Tags ========== */

* {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
}

body {
  background-color: hsl(286, 46%, 33%);
  color: rgb(235, 235, 235);
  min-height: 100vh;
  font-weight: 600;
}

h1 {
  font-size: 5.5em;
  font-weight: 800;
  margin: 20px 20px;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 76.2265px;
}

h3 {
  font-size: 2.3em;
}

label {
  margin: 0px 6px 0px 20px;
}

button {
  padding: 18px 25px 18px 25px;
}

input,
select {
  padding: 10px;
}

hr {
  max-width: 25vw;
  margin-top: 30px;
}

section h3 button {
  margin: 8px;
  font-size: 1.1rem;
}

p {
  text-align: center;
}

/* ========== Flex Parents/Items ========== */

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
    li {
      margin: 0px 8px;
    }

header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
    h1,
    h2,
    h3 {
      text-align: center;
    }

.form-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
/* ========== Classes ========== */

.exo2-font {
  font-family: 'exo 2', sans-serif;
}

.round-border {
  border-radius: 7px;
}

.text-shadow {
  text-shadow: 2px 3px 4px rgb(23, 6, 27);
}

.box-shadow {
  box-shadow: inset 0px 0px 4px 4px rgb(45, 12, 54);
}

.acc-qual-select {
  margin: 15px 0px 15px 0px;
}

.input-button {
  display: block;
  margin: 18px auto;
}

button:active {
  background-color: rgb(168, 167, 167);
}

/* ========== Media Queries ========== */

@media (min-width: 800px) {

  h1 {
    font-size: 4.2em;
  }

  h2 {
    font-size: 1.15em;
  }

  h3 {
    font-size: 1.9em;
  }
}

@media (min-width: 1200px) {
  
  button,
  input,
  select {
    padding: 10px;
  }
}
