* {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
}

body {
  background-color: hsl(286, 46%, 33%);
  color: rgb(235, 235, 235);
  min-height: 100vh;
}

h1 {
  font-size: 2.75em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.15em;
}

h3 {
  font-size: 1.9em;
  margin-top: 60px;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

label {
  margin: 0px 6px 0px 20px;
}

h2,
h3,
p,
input,
button,
select {
  font-weight: 600;
}

button,
input,
select {
  padding: 6px;
}

form button {
  margin-left: 20px;
}

section {
  display: flex;
  flex-flow: column wrap;
}

hr {
  min-width: 25vw;
  margin-top: 30px;
}

section h3 {
  margin-top: 15px;
}

section h3 button {
  margin: 8px;
  font-size: 1.1rem;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  margin: 0px 10px 0px 10px;
  list-style: none;
}

button,
.exo2-font {
  font-family: 'exo 2', sans-serif;
}

.form-container {
  display: block;
  max-width: 65vw;
  margin: 0 auto;
}

.suggestions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.round-border {
  border-radius: 7px;
}

.text-shadow {
  text-shadow: 2px 3px 4px rgb(23, 6, 27);
}

.box-shadow {
  box-shadow: inset 0px 0px 3px 3px rgb(45, 12, 54);
}

button:active {
  background-color: rgb(168, 167, 167);
}