/* ========== Fonts ========== */
/* https://www.fontsquirrel.com/fonts/Enigmatic?filter%5Bclassifications%5D%5B0%5D=retro&filter%5Bclassifications%5D%5B1%5D=sans+serif&filter%5Bdownload%5D=local&filter%5Blicense%5D%5B0%5D=web */
@font-face {
    font-family: 'enigmaticregular';
    src: url('fonts/Enigmatic-fontfacekit/web-fonts/enigmatic_bold_macroman/EnigmaB_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ========== HTML Tags ========== */

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(286, 46%, 33%);
  color: rgb(235, 235, 235);
  min-height: 100vh;
  font-family: 'enigmaticregular', sans-serif;
  letter-spacing: .1rem;
  font-weight: 600;
}

h1 {
  margin: 10px 0;
  font-size: 3.5rem;
  font-weight: 800;
  overflow-wrap: break-word;
  hyphens: auto;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 4rem;
  overflow-wrap: keep-all;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  overflow-wrap: keep-all;
  text-align: center;
}

input,
select {
  padding: 10px;
}

input,
button {
  font-family: 'enigmaticregular', sans-serif;
  letter-spacing: .03rem;
  display: block;
  margin: 0 auto;
}

button {
  padding: 18px 25px;
}
  button:active {
    background-color: rgb(168, 167, 167);
  }

hr {
  max-width: 25vw;
  margin-top: 30px;
}

/* ========== Classes ========== */

.round-border {
  border-radius: 7px;
}

.text-shadow {
  text-shadow: 2px 3px 4px rgb(23, 6, 27);
}

.box-shadow {
  box-shadow: inset 0px 0px 4px 4px rgb(45, 12, 54);
}

.acc-qual-select {
  margin: 15px 0px 15px 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* ========== Media Queries ========== */

/* @media (min-width: 800px) {

  h1 {
    font-size: 4.2em;
  }

  h2 {
    font-size: 1.15em;
  }

  h3 {
    font-size: 1.9em;
  }
}

@media (min-width: 1200px) {
  
  button,
  input,
  select {
    padding: 10px;
  }
} */
