@mixin center-text {
  text-align: center;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin text-shadow {
  text-shadow:  2px 3px 4px rgb(23, 6, 27);
}

@mixin box-shadow {
  box-shadow: inset 0px 0px 4px 4px rgb(45, 12, 54);
}

@mixin font($font, $letter-spacing) {
  font-family: $font, sans-serif;
  letter-spacing: $letter-spacing;
}

@mixin overflow-wrap($wrap) {
  overflow-wrap: $wrap;
}