@use './abstracts/index' as *;

/* ========== Fonts ========== */
/* https://www.fontsquirrel.com/fonts/Enigmatic?filter%5Bclassifications%5D%5B0%5D=retro&filter%5Bclassifications%5D%5B1%5D=sans+serif&filter%5Bdownload%5D=local&filter%5Blicense%5D%5B0%5D=web */
@font-face {
    font-family: 'enigmaticregular';
    src: url('../../fonts/Enigmatic-fontfacekit/web-fonts/enigmatic_regular_macroman/Enigma__2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'enigmaticbold';
    src: url('../../fonts/Enigmatic-fontfacekit/web-fonts/enigmatic_bold_macroman/EnigmaB_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ========== HTML Tags ========== */

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  @include font('enigmaticbold', .1rem);

  margin: 0;
  padding: 0;
  background-color: hsl(286, 46%, 33%);
  color: rgb(235, 235, 235);
  min-height: 100vh;
}

header,
label {
  @include text-shadow;
}

h1 {
  @include center-text;
  @include overflow-wrap(break-word);

  margin: 10px 0;
  font-size: 3.5rem;
  font-weight: 800;
  hyphens: auto;
}

h2 {
  @include center-text;
  @include overflow-wrap(keep-all);

  font-size: 2rem;
  margin-bottom: 4rem;
}

h3 {
  @include center-text;
  @include overflow-wrap(keep-all);

  font-size: 1.5rem;
}

.quality-select {
  @include flex(row, center, center);

  margin: 15px 0px 15px 0px;
}

input,
select {
  padding: 10px;
}

input,
button {
  @include font('enigmaticregular', .03rem);

  display: block;
  margin: 0 auto;
}

input,
select,
button {
  @include border-radius(7px);
  @include box-shadow;
}

button {
  padding: 18px 25px;

  &:active {
    background-color: rgb(168, 167, 167);
  }
}

hr {
  max-width: 25vw;
  margin-top: 30px;
}

main {
  @include center-text;
  @include text-shadow;
  @include flex(column, center, center);
}